/* ----------- GLOBAL ----------- */

.orange {
  color: #E94F37 !important;
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

/* ----------- SCROLL BAR ----------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #051923;
  background-image: url(src/assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ----------- SCROLL BAR ----------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #051923;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #632217;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E94F37;
  border-radius: 12px;
}

/* ----------- HOME SECTION ----------- */

.home-container {
  padding-top: 25vh;
  color: #EFF1F3;
  text-align: left;
}

@media (max-width: 767px) {
  .home-container {
    padding-top: 10vh;
    color: #EFF1F3;
    text-align: left;
  }
}

.home-title {
  padding-top: 5vh;
  padding-bottom: 10vh;
  text-align: left;
}

.home-image {
  padding-bottom: 10vh;
  align-content: center;
  text-align: center;
}

.heading {
  font-size: 2.6em !important;
  padding-bottom: 0.2em;
}

.Typewriter__wrapper {
  font-size: 2.6em !important;
  color: #E94F37 !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.6em !important;
  color: #E94F37 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.home-learn-more-section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
}

/* ----------- BUTTONS ----------- */

.btn-primary {
  color: #EFF1F3 !important;
  background-color: #9a3323 !important;
  border-color: #9a3323 !important;
}

.btn-primary:hover {
  color: #EFF1F3 !important;
  background-color: #E94F37 !important;
  border-color: #E94F37 !important;
}

.home-learn-more-btn {
  transition: all 0.3s ease-out 0s !important;
}

.home-learn-more-btn:hover{
  transform: translateY(-2px) !important;
}

/* ----------- ABOUT ----------- */

.about-section {
  color: #EFF1F3;
  padding-top: 13vh;
}

.about-heading {
  color: #EFF1F3;
  font-size: 2em;
  padding-bottom: 0.7em;
}

.about-text {
  color: #EFF1F3;
  font-size: 1.3em;
  padding-left: 2vw;
  padding-bottom: 0.9em;
}

.tools-heading {
  color: #EFF1F3;
  font-size: 2.1em;
}

.contact-section {
  text-align: center;
  padding-bottom: 10vh;
}

.contact-heading {
  color: #EFF1F3 !important;
  font-size: 2.6em !important;
  font-weight: 500 !important;
  padding-bottom: 0.4em;
}

.contact-btn {
  max-width: 250px !important;
  font-size: 1.1em !important;
  border-radius: 0% !important;
}

.contact-btn-top {
  max-width: 250px !important;
  font-size: 1.1em !important;
  border-radius: 0% !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.contact-btn-bottom {
  max-width: 250px !important;
  font-size: 1.1em !important;
  border-radius: 0% !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

/* ----------- SKILLS ----------- */

.skills-section {
  padding-bottom: 10vh;
}

.skills-heading {
  color: #EFF1F3;
  font-size: 2.1em;
  padding-bottom: 0.7em;
}

.skill-name {
  color: #EFF1F3;
  font-size: 1.1em;
  font-weight: 10;
}

.skill-bar-background {
  background-color: #EFF1F3;
  width: 90%; 
  border-radius: 10em; 
  height: 0.3em;
}

.skill-bar-fill {
  background-color:#E94F37;
  border-radius: 10em; 
  height: 0.3em;
}

.tech-icons {
  font-size: 2.5em;
  transition: all 0.4s ease 0s !important;
}

.tech-icons:hover {
  transform: scale(1.2) !important;
}

/* ----------- NAVIGATION BAR ----------- */

.sticky {
  background-color: #011627a9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(1, 22, 39, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #E94F37 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.6em !important;
  width: 3.6em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #E94F37;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #9a3323 !important;
  border-color: #9a3323 !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #E94F37 !important;
  border-color: #E94F37 !important;
}
.fork-btn-inner::after {
  display: none !important;
}

/* ----------- FOOTER ----------- */

.footer {
  background-color: #011627;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-body {
  z-index: 1;
  text-align: right !important;
}

.footer h3 {
  font-size: 1em;
  color: #EFF1F3 !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* ----------- RESUME ----------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  color: #EFF1F3 !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #E94F37;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #E94F37;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #EFF1F3;
  border: 2px solid #E94F37;
}

/* ----------- PROJECTS ----------- */

.project-title {
  padding-top: 15vh;
  text-align: center;
}

.project-subtitle {
  color: #EFF1F3;
  font-size: 1.15em;
}

.project-cards-row {
  padding-top: 5vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.project-card {
  padding-top: 2vh !important;
  padding-bottom: 10vh !important;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  height: auto !important;
}

.project-heading {
  color: #EFF1F3 !important;
  font-size: 2.6em !important;
  font-weight: 500 !important;
  text-align: center;
}

.project-card-view {
  border-radius: 10px !important;
  background-color: #011627 !important;
  color: #EFF1F3 !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  overflow: hidden;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
}